* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header a img {
  width: 100px;
  position: relative;
  left: 50px;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-top: 30px;
  background-color: lightblue;
  position: fixed;
  width: 100%;
  z-index: 8;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 10px;
}


nav a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px;
  border-radius: 10px;
}

nav a:hover {
  transition: 0.3s;
  background-color: rgb(137, 170, 181);
  color: white;
}

#Cucharitas {
  padding-top: 60px;
}

.FondoContainer {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.FondoImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.FondoContainer h1 {
  position: relative;
  top: -100px;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.ContenedorCards {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-left: 30px;
}

.CardImg {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin: 0 auto 15px;
  display: block;
  border-radius: 10px;
}


.Img1,
.Img2,
.Img3 {
  background-color: rgb(237, 225, 211);
}

.SeccionCard {
  padding-top: 40px;
}

.Card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 70dvh;
  background-color: rgb(239, 239, 239);
  width: 300px;
}

.Card:hover {
  transition: 0.6s;
  transform: scale(1.1);
}

.CardText {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}


section>article>.TituloPro {
  position: relative;
  left: 530px;
  width: 200px;
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
  border-bottom: 5px solid gold;
}


.NOS-IMG {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-left: 30px;
}

.NOS-IMG div {
  padding-top: 20px;
  position: absolute;
  top: 50px;
  border-top: 5px solid black;
}

.NosImg2 {
  width: 350px;
  height: 200px;
  box-shadow: 5px 20px 40px;
  border-radius: 20px;
}

.NosImg1 {
  width: 200px;
  position: absolute;
  left: 130px;
  box-shadow: 5px 20px 40px;
  border-radius: 20px;
}

.NosImg3 {
  width: 200px;
  position: absolute;
  right: 130px;
  box-shadow: 5px 20px 40px;
  border-radius: 20px;
}

.NosImg1:hover,
.NosImg2:hover,
.NosImg3:hover {
  transition: 0.6s;
  transform: scale(1.1);
}

h1,
h2,
h3 {
  font-family: "TASA Orbiter", sans-serif;
  ;
}

p {
  font-family: "Poppins", sans-serif;
}

.UEA {
  width: 80%;
  text-align: center;
  margin-left: 100px;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 70px;
}

.UEA p {
  margin-top: 20px;
  font-size: 1.5em;
}

.UEA h1 {
  font-size: 31px;
  text-shadow: 2px 5px 20px rgb(129, 111, 111);
}

.contenedor {
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px;
  gap: 40px;
}

.texto {
  width: 55%;
}

.texto h1 {
  margin-bottom: 20px;
  font-size: 32px;
  border-bottom: 3px solid gold;
  width: 300px;
}

.texto p {
  margin-bottom: 20px;
  line-height: 1.8;
  text-align: justify;
  font-size: 18px;
}

.HistoriaImg {
  width: 45%;
  text-align: right;
  margin-top: 60px;
}

.HistoriaImg img {
  width: 100%;
  max-width: 520px;
  border-radius: 12px;
  height: 300px;
}

.Contenedor-historia2 {
  padding: 50px;
  background-color: rgb(247, 247, 247);
}

.historia2 {
  display: flex;
  align-items: center;
  gap: 40px;
}

.Historia2Img {
  width: 45%;
}

.Historia2Img img {
  width: 100%;
  border-radius: 12px;
  height: 400px;
}

.HisText2 {
  width: 55%;
}

.HisText2 p {
  margin-bottom: 20px;
  line-height: 1.8;
  text-align: justify;
  font-size: 18px;
}

.Valor1Img,
.Valor2Img,
.Valor3Img,
.Valor4Img {
  width: 100px;
  border-radius: 50%;
  border: 3px solid black;
}

.Contenedor-valores {
  padding: 80px 40px;
  text-align: center;
}

.TituloValores h1 {
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
}

.Valores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.Valores article {
  width: 230px;
  padding: 20px;
  text-align: center;
}

.Valores img {
  width: 100px;
  margin-bottom: 20px;
}

.Valores h2 {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.Valores p {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.6;
  font-size: 14px;
}

.footer {
  background-color: #1c1c1c;
  padding: 70px 40px 40px;
}

.footer-top h1 {
  color: #ff5a6e;
  text-align: center;
  margin-bottom: 50px;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.footer-columns {
  color: white;
  display: flex;
  justify-content: center;
  gap: 100px;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-col {
  display: flex;
  flex-direction: column;
}

.footer-col h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-col a {
  margin-bottom: 12px;
  text-decoration: none;
  color: #858585;
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
}

.footer-col a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 60px;
  text-align: center;
}

.footer-bottom img {
  width: 660px;
}

.Contenedor-contacto {
  position: relative;
  background-color: lightblue;
  background-image: url(https://cdn.prod.website-files.com/622a23e0b6ea18a88e1314a3/626ce70d910685086f1ed659_Contacto_transparente%20gloop.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.contacto {
  position: absolute;
  left: 80px;
  top: 100px;
}

.contacto h1 {
  font-size: 48px;
  font-weight: 800;
}

.contacto p {
  font-weight: 500;
}

.contacto button {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 30px;
  width: 80%;
  height: 60px;
  font-size: 24px;
  color: white;
  background-color: rgb(224, 147, 3);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  box-shadow: 10px 10px 10px black;
}

.contacto button:hover {
  transition: 0.6s;
  box-shadow: 5px 10px 10px black;
}

.Escribenos .First-part {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.Escribenos .First-part p {
  margin-top: 20px;
  font-size: 20px;
}

.contenedor-form {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  margin-bottom: 40px;
}

.left-part {
  width: 280px;
}

.left-part img {
  filter: invert(1);
  width: 30%;
}

.form {
  width: 400px;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form label {
  font-family: "Poppins", sans-serif;
}

.form input,
.form textarea {
  padding: 10px;
  font-size: 14px;
  border: 3px solid #000000;
  border-radius: 10px;
}

.form textarea {
  min-height: 120px;
}

.form input[type="submit"] {
  margin-top: 15px;
  cursor: pointer;
  border-radius: 30px;
  width: 200px;
  position: relative;
  left: 90px;
  background-color: rgb(255, 68, 0);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.PP1 {
  margin-bottom: 10px;
  font-size: 20px;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
}

.PP2 {
  font-size: 20px;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

section .mapa iframe{
  border-radius: 20px;
  border: 3px solid black;
  position: relative;
  left: 300px;
  margin-top: 30px;
  margin-bottom: 50px;
}