* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-top: 30px;
  background-color: lightblue;
  position: fixed;
  width: 100%;
  z-index: 8;
}


a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px;
  border-radius: 10px;
}

a:hover {
  transition: 0.3s;
  background-color: rgb(137, 170, 181);
  color: white;
}

#Cucharitas {
  padding-top: 60px;
}

.FondoContainer {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.FondoImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.FondoContainer h1 {
  position: relative;
  top: -100px;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.ContenedorCards {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-left: 30px;
}

.CardImg {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin: 0 auto 15px;
  display: block;
  border-radius: 10px;
}


.Img1,
.Img2,
.Img3 {
  background-color: rgb(237, 225, 211);
}

.SeccionCard {
  padding-top: 40px;
}

.Card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 70dvh;
  background-color: rgb(239, 239, 239);
  width: 300px;
}

.Card:hover {
  transition: 0.6s;
  transform: scale(1.1);
}

.CardText {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}


section>article>.TituloPro {
  position: relative;
  left: 530px;
  width: 200px;
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
  border-bottom: 5px solid gold;
}


.NOS-IMG {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-left: 30px;
}

.NOS-IMG div {
  padding-top: 20px;
  position: absolute;
  top: 50px;
  border-top: 5px solid black;
}

.NosImg2 {
  width: 350px;
  height: 200px;
  box-shadow: 5px 20px 40px;
  border-radius: 20px;
}

.NosImg1 {
  width: 200px;
  position: absolute;
  left: 130px;
  box-shadow: 5px 20px 40px;
  border-radius: 20px;
}

.NosImg3 {
  width: 200px;
  position: absolute;
  right: 130px;
  box-shadow: 5px 20px 40px;
  border-radius: 20px;
}

.NosImg1:hover,
.NosImg2:hover,
.NosImg3:hover {
  transition: 0.6s;
  transform: scale(1.1);
}

h1,
h2,
h3 {
  font-family: "TASA Orbiter", sans-serif;
  ;
}

p {
  font-family: "Poppins", sans-serif;
}

.UEA {
  width: 80%;
  text-align: center;
  margin-left: 100px;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 70px;
}

.UEA p {
  margin-top: 20px;
  font-size: 1.5em;
}

.UEA h1 {
  font-size: 31px;
  text-shadow: 2px 5px 20px rgb(129, 111, 111);
}

.contenedor {
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px;
  gap: 40px;
}

.texto {
  width: 55%;
}

.texto h1 {
  margin-bottom: 20px;
  font-size: 32px;
  border-bottom: 3px solid gold;
  width: 300px;
}

.texto p {
  margin-bottom: 20px;
  line-height: 1.8;
  text-align: justify;
  font-size: 18px;
}

.HistoriaImg {
  width: 45%;
  text-align: right;
  margin-top: 60px;
}

.HistoriaImg img {
  width: 100%;
  max-width: 520px;
  border-radius: 12px;
  height: 300px;
}

.Contenedor-historia2 {
  padding: 50px;
  background-color: rgb(247, 247, 247);
}

.historia2 {
  display: flex;
  align-items: center;
  gap: 40px;
}

.Historia2Img {
  width: 45%;
}

.Historia2Img img {
  width: 100%;
  border-radius: 12px;
  height: 400px;
}

.HisText2 {
  width: 55%;
}

.HisText2 p {
  margin-bottom: 20px;
  line-height: 1.8;
  text-align: justify;
  font-size: 18px;
}